/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

/* additional styles

.profile {
    display: flex;
}

.profile-image {
    margin-right: 5em;
    border: 10px solid #262626;
    border-radius: 40em;
}

.profile-user-settings {
    display: inline-block;
}

.profile-status {
    display: inline-block;
}

.profile-bio {
    display: inline-block;
}

.gallery {
    display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 50em 50em 50em;
    column-gap: 10px;
    row-gap: 15px;
    position: absolute;
    justify-content: center;
}

.gallery-image {
    position: relative;
    width: 50em;
    height: auto;
}

.gallery-item-info {
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
}

.gallery-image:hover .gallery-item-info {
    visibility: visible; opacity: 1;
}

.gallery-item-type {
    visibility: none; opacity: 0;
} */